### Importing the libraries

In [14]:
import findspark
from elasticsearch import Elasticsearch
import requests
from pprint import pprint

### Finding locally installed Spark and importing PySpark libraries

In [15]:
findspark.init("/usr/local/spark/")
from pyspark.sql import SparkSession, functions as func

### Checking if Elasticsearch has successfully been connected

In [16]:
res = requests.get('http://localhost:9200')
pprint(res.content)

(b'{\n  "name" : "ip-172-31-14-175",\n  "cluster_name" : "elasticsearch",\n  "'
 b'cluster_uuid" : "ypf0RlCFQYytEO-JNW-MCg",\n  "version" : {\n    "number" :'
 b' "7.9.2",\n    "build_flavor" : "default",\n    "build_type" : "tar",\n    '
 b'"build_hash" : "d34da0ea4a966c4e49417f2da2f244e3e97b4e6e",\n    "build_da'
 b'te" : "2020-09-23T00:45:33.626720Z",\n    "build_snapshot" : false,\n    "'
 b'lucene_version" : "8.6.2",\n    "minimum_wire_compatibility_version" : "6'
 b'.8.0",\n    "minimum_index_compatibility_version" : "6.0.0-beta1"\n  },\n  '
 b'"tagline" : "You Know, for Search"\n}\n')

### Creating an Elasticsearch object

In [17]:
es = Elasticsearch([{'host': 'localhost', 'port': 9200}])

### Creating Spark Session

In [18]:
spark = SparkSession.builder.appName('task').getOrCreate()

### Reading CSV with Spark and creating Dataframe

In [19]:
df = spark.read.format("csv").option("header","true").load("/home/ubuntu/Hr5m.csv").fillna(0)["Emp ID", "First Name", "Last Name", "Gender", "E Mail", "Month Name of Joining", "SSN", "County", "State", "Region", "City", "Zip", "Salary", func.regexp_replace(func.col("Last % Hike"), "%", "").alias("Salary Hike in %")]
df.show(5)

+------+----------+---------+------+--------------------+---------------------+-----------+--------------------+-----+-------+----------+-----+------+----------------+
|Emp ID|First Name|Last Name|Gender|              E Mail|Month Name of Joining|        SSN|              County|State| Region|      City|  Zip|Salary|Salary Hike in %|
+------+----------+---------+------+--------------------+---------------------+-----------+--------------------+-----+-------+----------+-----+------+----------------+
|742048|    Lizeth|   Mccoll|     F|lizeth.mccoll@ibm...|              January|171-86-6830|               Stark|   OH|Midwest|  Alliance|44601|147446|              14|
|671135| Argentina|     Hern|     F|argentina.hern@nt...|                April|083-02-3078|District of Columbia|   DC|  South|Washington|20411|129174|               8|
|965851|    Damian|  Patillo|     M|damian.patillo@ou...|             December|326-11-9852|              Fresno|   CA|   West|    Burrel|93607|158746|               8|
|224660|   Imogene| Hagopian|     F|imogene.hagopian@...|                 June|656-36-0772|              Brazos|   TX|  South|     Bryan|77806| 55761|              14|
|852694|    Walker|  Wallach|     M|walker.wallach@ao...|             February|296-15-3535|              Vernon|   LA|  South|  Newllano|71461|197519|              24|
+------+----------+---------+------+--------------------+---------------------+-----------+--------------------+-----+-------+----------+-----+------+----------------+
only showing top 5 rows

### Checking the total records in the PySpark Dataframe

In [20]:
print(f"Total records present: {df.count()}")

Total records present: 5000000

### Checking the data types

In [21]:
df.dtypes

[('Emp ID', 'string'),
 ('First Name', 'string'),
 ('Last Name', 'string'),
 ('Gender', 'string'),
 ('E Mail', 'string'),
 ('Month Name of Joining', 'string'),
 ('SSN', 'string'),
 ('County', 'string'),
 ('State', 'string'),
 ('Region', 'string'),
 ('City', 'string'),
 ('Zip', 'string'),
 ('Salary', 'string'),
 ('Salary Hike in %', 'string')]

### Casting 'string' value to 'int'

In [22]:
df = df.withColumn("Emp ID", df["Emp ID"].cast("int"))
df = df.withColumn("Zip", df["Zip"].cast("int"))
df = df.withColumn("Salary", df["Salary"].cast("int"))
df = df.withColumn("Salary Hike in %", df["Salary Hike in %"].cast("int"))
df.dtypes

[('Emp ID', 'int'),
 ('First Name', 'string'),
 ('Last Name', 'string'),
 ('Gender', 'string'),
 ('E Mail', 'string'),
 ('Month Name of Joining', 'string'),
 ('SSN', 'string'),
 ('County', 'string'),
 ('State', 'string'),
 ('Region', 'string'),
 ('City', 'string'),
 ('Zip', 'int'),
 ('Salary', 'int'),
 ('Salary Hike in %', 'int')]

### Checking if the changes have been made successfully

In [23]:
df.show(5)

+------+----------+---------+------+--------------------+---------------------+-----------+--------------------+-----+-------+----------+-----+------+----------------+
|Emp ID|First Name|Last Name|Gender|              E Mail|Month Name of Joining|        SSN|              County|State| Region|      City|  Zip|Salary|Salary Hike in %|
+------+----------+---------+------+--------------------+---------------------+-----------+--------------------+-----+-------+----------+-----+------+----------------+
|742048|    Lizeth|   Mccoll|     F|lizeth.mccoll@ibm...|              January|171-86-6830|               Stark|   OH|Midwest|  Alliance|44601|147446|              14|
|671135| Argentina|     Hern|     F|argentina.hern@nt...|                April|083-02-3078|District of Columbia|   DC|  South|Washington|20411|129174|               8|
|965851|    Damian|  Patillo|     M|damian.patillo@ou...|             December|326-11-9852|              Fresno|   CA|   West|    Burrel|93607|158746|               8|
|224660|   Imogene| Hagopian|     F|imogene.hagopian@...|                 June|656-36-0772|              Brazos|   TX|  South|     Bryan|77806| 55761|              14|
|852694|    Walker|  Wallach|     M|walker.wallach@ao...|             February|296-15-3535|              Vernon|   LA|  South|  Newllano|71461|197519|              24|
+------+----------+---------+------+--------------------+---------------------+-----------+--------------------+-----+-------+----------+-----+------+----------------+
only showing top 5 rows

### Checking the Schema

In [24]:
df.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Salary Hike in %: integer (nullable = true)

### Ingesting Pyspark Dataframe in Elasticsearch directly

In [25]:
df.write.format(
    "org.elasticsearch.spark.sql"
).option(
    "es.resource", '%s' % ('humans')
).option(
    "es.nodes", 'localhost'
).option(
    "es.port", '9200'
).save()
print("Successfully ingested data into Elasticsearch!")

Successfully ingested data into Elasticsearch!

### Setting the output limit

In [26]:
es.indices.put_settings(index="humans", body = {"index" : { "max_result_window" : 5000000 }})

{'acknowledged': True}

### Counting the records in index to see if PySpark Dataframe has been successfully ingested

In [27]:
es.count(index= "humans")

{'count': 5000000,
 '_shards': {'total': 1, 'successful': 1, 'skipped': 0, 'failed': 0}}

### Task 1: Count the number of employees in each County, Region and City

In [32]:
res = es.search(index="humans", size=0, body={"aggs": {"No. of Employees per County": {"terms": {"field": "County.keyword","size": 5, "order": {"_key": "asc"}}}}})
pprint(res["aggregations"]["No. of Employees per County"]["buckets"])

[{'doc_count': 90, 'key': 'Aaron'},
 {'doc_count': 509, 'key': 'Abbeville'},
 {'doc_count': 1373, 'key': 'Acadia'},
 {'doc_count': 4611, 'key': 'Accomack'},
 {'doc_count': 5104, 'key': 'Ada'}]

In [33]:
res = es.search(index="humans", size=0, body={"aggs":{"No. of Employees per Region" : {"terms":{"field": "Region.keyword", "order": {"_key": "asc"}}}}})
pprint(res["aggregations"]["No. of Employees per Region"]["buckets"])

[{'doc_count': 1372439, 'key': 'Midwest'},
 {'doc_count': 886984, 'key': 'Northeast'},
 {'doc_count': 1855656, 'key': 'South'},
 {'doc_count': 884921, 'key': 'West'}]

In [34]:
res = es.search(index="humans", size=0, body={"aggs":{"No. of Employees per City" : {"terms":{"field": "City.keyword", "size": 5, "order": {"_key": "asc"}}}}})
pprint(res["aggregations"]["No. of Employees per City"]["buckets"])

[{'doc_count': 90, 'key': 'Aaron'},
 {'doc_count': 96, 'key': 'Aaronsburg'},
 {'doc_count': 681, 'key': 'Abbeville'},
 {'doc_count': 139, 'key': 'Abbot'},
 {'doc_count': 118, 'key': 'Abbotsford'}]

### Task 2: Generate Employee Summary

In [35]:
res = es.search(index="humans", size=5, body={"query": {"match_all": {}}})
pprint(res["hits"]["hits"])

[{'_id': 'bAo_JnUB6zQKO643xqax',
  '_index': 'humans',
  '_score': 1.0,
  '_source': {'City': 'Charlotte',
              'County': 'Mecklenburg',
              'E Mail': 'walter.shelly@gmail.com',
              'Emp ID': 547291,
              'First Name': 'Walter',
              'Gender': 'M',
              'Last Name': 'Shelly',
              'Month Name of Joining': 'February',
              'Region': 'South',
              'SSN': '423-67-5915',
              'Salary': 117819,
              'Salary Hike in %': 21,
              'State': 'NC',
              'Zip': 28289},
  '_type': '_doc'},
 {'_id': 'bQo_JnUB6zQKO643xqax',
  '_index': 'humans',
  '_score': 1.0,
  '_source': {'City': 'Geraldine',
              'County': 'Chouteau',
              'E Mail': 'efren.samuel@yahoo.com',
              'Emp ID': 430700,
              'First Name': 'Efren',
              'Gender': 'M',
              'Last Name': 'Samuel',
              'Month Name of Joining': 'August',
              'Region': 'West',
              'SSN': '102-02-7322',
              'Salary': 189607,
              'Salary Hike in %': 12,
              'State': 'MT',
              'Zip': 59446},
  '_type': '_doc'},
 {'_id': 'bgo_JnUB6zQKO643xqax',
  '_index': 'humans',
  '_score': 1.0,
  '_source': {'City': 'Protivin',
              'County': 'Howard',
              'E Mail': 'darrin.mericle@gmail.com',
              'Emp ID': 550167,
              'First Name': 'Darrin',
              'Gender': 'M',
              'Last Name': 'Mericle',
              'Month Name of Joining': 'February',
              'Region': 'Midwest',
              'SSN': '518-89-5402',
              'Salary': 52789,
              'Salary Hike in %': 18,
              'State': 'IA',
              'Zip': 52163},
  '_type': '_doc'},
 {'_id': 'bwo_JnUB6zQKO643xqax',
  '_index': 'humans',
  '_score': 1.0,
  '_source': {'City': 'Salt Lake City',
              'County': 'Salt Lake',
              'E Mail': 'kandra.whitehill@hotmail.com',
              'Emp ID': 604906,
              'First Name': 'Kandra',
              'Gender': 'F',
              'Last Name': 'Whitehill',
              'Month Name of Joining': 'February',
              'Region': 'West',
              'SSN': '299-15-1836',
              'Salary': 177604,
              'Salary Hike in %': 18,
              'State': 'UT',
              'Zip': 84141},
  '_type': '_doc'},
 {'_id': 'cAo_JnUB6zQKO643xqax',
  '_index': 'humans',
  '_score': 1.0,
  '_source': {'City': 'Rensselaer',
              'County': 'Jasper',
              'E Mail': 'andre.ripple@gmail.com',
              'Emp ID': 923490,
              'First Name': 'Andre',
              'Gender': 'M',
              'Last Name': 'Ripple',
              'Month Name of Joining': 'June',
              'Region': 'Midwest',
              'SSN': '450-99-8154',
              'Salary': 170066,
              'Salary Hike in %': 21,
              'State': 'IN',
              'Zip': 47978},
  '_type': '_doc'}]

### Task 3: Generate employee summary and ordering by Gender and Salary

In [36]:
res=es.search(index="humans", size=5, body={"sort":[{"Gender.keyword":{"order":"asc"}}, {"Salary":{"order":"asc"}}]})
pprint(res["hits"]["hits"])

[{'_id': 'Zgg_JnUB6zQKO643fQON',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Saint Landry',
              'County': 'Evangeline',
              'E Mail': 'ariana.cumberbatch@msn.com',
              'Emp ID': 506893,
              'First Name': 'Ariana',
              'Gender': 'F',
              'Last Name': 'Cumberbatch',
              'Month Name of Joining': 'June',
              'Region': 'South',
              'SSN': '057-02-5798',
              'Salary': 40000,
              'Salary Hike in %': 4,
              'State': 'LA',
              'Zip': 71367},
  '_type': '_doc',
  'sort': ['F', 40000]},
 {'_id': 'rk9FJnUB6zQKO643p0WP',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Dallas',
              'County': 'Dallas',
              'E Mail': 'amee.gagliano@yahoo.ca',
              'Emp ID': 616703,
              'First Name': 'Amee',
              'Gender': 'F',
              'Last Name': 'Gagliano',
              'Month Name of Joining': 'August',
              'Region': 'South',
              'SSN': '762-12-9963',
              'Salary': 40000,
              'Salary Hike in %': 14,
              'State': 'TX',
              'Zip': 75312},
  '_type': '_doc',
  'sort': ['F', 40000]},
 {'_id': '11JFJnUB6zQKO6435QpX',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Plainfield',
              'County': 'Dodge',
              'E Mail': 'agripina.leclair@cox.net',
              'Emp ID': 654026,
              'First Name': 'Agripina',
              'Gender': 'F',
              'Last Name': 'Leclair',
              'Month Name of Joining': 'December',
              'Region': 'South',
              'SSN': '112-98-1371',
              'Salary': 40000,
              'Salary Hike in %': 0,
              'State': 'GA',
              'Zip': 31073},
  '_type': '_doc',
  'sort': ['F', 40000]},
 {'_id': 'ExdBJnUB6zQKO643DLiV',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Amarillo',
              'County': 'Potter',
              'E Mail': 'vonnie.vallejos@yahoo.co.in',
              'Emp ID': 117353,
              'First Name': 'Vonnie',
              'Gender': 'F',
              'Last Name': 'Vallejos',
              'Month Name of Joining': 'August',
              'Region': 'South',
              'SSN': '342-11-1884',
              'Salary': 40000,
              'Salary Hike in %': 9,
              'State': 'TX',
              'Zip': 79164},
  '_type': '_doc',
  'sort': ['F', 40000]},
 {'_id': '2BJAJnUB6zQKO643lbL-',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Bantry',
              'County': 'McHenry',
              'E Mail': 'vikki.grosso@hotmail.com',
              'Emp ID': 832197,
              'First Name': 'Vikki',
              'Gender': 'F',
              'Last Name': 'Grosso',
              'Month Name of Joining': 'October',
              'Region': 'Midwest',
              'SSN': '131-98-5564',
              'Salary': 40000,
              'Salary Hike in %': 14,
              'State': 'ND',
              'Zip': 58713},
  '_type': '_doc',
  'sort': ['F', 40000]}]

### Task 4: Summerize the number of employee joined and hikes granted based on month

In [37]:
res=es.search(index="humans", size=0, body={"aggs":{"No. of Employees joined in particular Month" : {"terms":{"field": "Month Name of Joining.keyword", "size": 12}}}})
pprint(res["aggregations"]["No. of Employees joined in particular Month"]["buckets"])

[{'doc_count': 468295, 'key': 'August'},
 {'doc_count': 450981, 'key': 'July'},
 {'doc_count': 434522, 'key': 'May'},
 {'doc_count': 427424, 'key': 'June'},
 {'doc_count': 422987, 'key': 'March'},
 {'doc_count': 414484, 'key': 'April'},
 {'doc_count': 413247, 'key': 'January'},
 {'doc_count': 408721, 'key': 'December'},
 {'doc_count': 400048, 'key': 'October'},
 {'doc_count': 392382, 'key': 'November'},
 {'doc_count': 384646, 'key': 'September'},
 {'doc_count': 382263, 'key': 'February'}]

In [39]:
res=es.search(index="humans", size=0, body={"aggs": {"Month": {"terms": {"field": "Month Name of Joining.keyword", "size":12},"aggs": {"Hikes granted in this Month": {"terms": {"field": "Salary Hike"}}}}}})
pprint(res["aggregations"]["Month"]["buckets"])

[{'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 468295,
  'key': 'August'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 450981,
  'key': 'July'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 434522,
  'key': 'May'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 427424,
  'key': 'June'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 422987,
  'key': 'March'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 414484,
  'key': 'April'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 413247,
  'key': 'January'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 408721,
  'key': 'December'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 400048,
  'key': 'October'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 392382,
  'key': 'November'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 384646,
  'key': 'September'},
 {'Hikes granted in this Month': {'buckets': [],
                                  'doc_count_error_upper_bound': 0,
                                  'sum_other_doc_count': 0},
  'doc_count': 382263,
  'key': 'February'}]

### Task 5: Generate employee summary and ordering by Salary

In [40]:
res=es.search(index="humans", size=5, body={"query":{"match_all":{}}, "sort":[{"Salary":{"order":"asc"}}]})
pprint(res["hits"]["hits"])

[{'_id': 'Bw1AJnUB6zQKO643Hnoz',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Louann',
              'County': 'Ouachita',
              'E Mail': 'kirk.deem@gmail.com',
              'Emp ID': 336973,
              'First Name': 'Kirk',
              'Gender': 'M',
              'Last Name': 'Deem',
              'Month Name of Joining': 'April',
              'Region': 'South',
              'SSN': '623-85-7102',
              'Salary': 40000,
              'Salary Hike in %': 28,
              'State': 'AR',
              'Zip': 71751},
  '_type': '_doc',
  'sort': [40000]},
 {'_id': 'Hgs_JnUB6zQKO643101x',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Tire Hill',
              'County': 'Somerset',
              'E Mail': 'rosario.hillyard@gmail.com',
              'Emp ID': 680938,
              'First Name': 'Rosario',
              'Gender': 'M',
              'Last Name': 'Hillyard',
              'Month Name of Joining': 'November',
              'Region': 'Northeast',
              'SSN': '307-37-6816',
              'Salary': 40000,
              'Salary Hike in %': 30,
              'State': 'PA',
              'Zip': 15959},
  '_type': '_doc',
  'sort': [40000]},
 {'_id': 'Zgg_JnUB6zQKO643fQON',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Saint Landry',
              'County': 'Evangeline',
              'E Mail': 'ariana.cumberbatch@msn.com',
              'Emp ID': 506893,
              'First Name': 'Ariana',
              'Gender': 'F',
              'Last Name': 'Cumberbatch',
              'Month Name of Joining': 'June',
              'Region': 'South',
              'SSN': '057-02-5798',
              'Salary': 40000,
              'Salary Hike in %': 4,
              'State': 'LA',
              'Zip': 71367},
  '_type': '_doc',
  'sort': [40000]},
 {'_id': 'rk9FJnUB6zQKO643p0WP',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Dallas',
              'County': 'Dallas',
              'E Mail': 'amee.gagliano@yahoo.ca',
              'Emp ID': 616703,
              'First Name': 'Amee',
              'Gender': 'F',
              'Last Name': 'Gagliano',
              'Month Name of Joining': 'August',
              'Region': 'South',
              'SSN': '762-12-9963',
              'Salary': 40000,
              'Salary Hike in %': 14,
              'State': 'TX',
              'Zip': 75312},
  '_type': '_doc',
  'sort': [40000]},
 {'_id': 'rVFFJnUB6zQKO6432oI2',
  '_index': 'humans',
  '_score': None,
  '_source': {'City': 'Des Moines',
              'County': 'Polk',
              'E Mail': 'marquis.rios@yahoo.com',
              'Emp ID': 937881,
              'First Name': 'Marquis',
              'Gender': 'M',
              'Last Name': 'Rios',
              'Month Name of Joining': 'May',
              'Region': 'Midwest',
              'SSN': '372-37-6324',
              'Salary': 40000,
              'Salary Hike in %': 5,
              'State': 'IA',
              'Zip': 50305},
  '_type': '_doc',
  'sort': [40000]}]

### Deleting the index from elasticsearch

In [41]:
es.indices.delete(index='humans')

{'acknowledged': True}

### Stopping the SparkSession

In [42]:
spark.stop()
print("Successfully stopped SparkSession!")

Successfully stopped SparkSession!