In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### Finding locally installed Spark and importing PySpark libraries

In [4]:
import findspark
findspark.init("/usr/local/spark/")
from pyspark.sql import SparkSession, functions as func

### Creating Spark Session

In [5]:
spark = SparkSession.builder.appName('task').getOrCreate()

### Reading 5 million data CSV with Spark by loading the file

In [6]:
df = spark.read.format("csv").option("header","true").load("/home/ubuntu/Hr5m.csv").fillna(0)["Emp ID", "Month Name of Joining", "Last Name", "Gender", "E Mail", "SSN", "County", "State", "Region", "City", "Zip", "Salary", func.regexp_replace(func.col("Last % Hike"), "%", "").alias("Salary Hike")]
df.show(5)

+------+---------------------+---------+------+--------------------+-----------+--------------------+-----+-------+----------+-----+------+-----------+
|Emp ID|Month Name of Joining|Last Name|Gender|              E Mail|        SSN|              County|State| Region|      City|  Zip|Salary|Salary Hike|
+------+---------------------+---------+------+--------------------+-----------+--------------------+-----+-------+----------+-----+------+-----------+
|742048|              January|   Mccoll|     F|lizeth.mccoll@ibm...|171-86-6830|               Stark|   OH|Midwest|  Alliance|44601|147446|         14|
|671135|                April|     Hern|     F|argentina.hern@nt...|083-02-3078|District of Columbia|   DC|  South|Washington|20411|129174|          8|
|965851|             December|  Patillo|     M|damian.patillo@ou...|326-11-9852|              Fresno|   CA|   West|    Burrel|93607|158746|          8|
|224660|                 June| Hagopian|     F|imogene.hagopian@...|656-36-0772|              Brazos|   TX|  South|     Bryan|77806| 55761|         14|
|852694|             February|  Wallach|     M|walker.wallach@ao...|296-15-3535|              Vernon|   LA|  South|  Newllano|71461|197519|         24|
+------+---------------------+---------+------+--------------------+-----------+--------------------+-----+-------+----------+-----+------+-----------+
only showing top 5 rows

### Checking the total records in the PySpark Dataframe

In [7]:
print(f"Total records present: {df.count()}")

Total records present: 5000000

### Checking the data types

In [8]:
df.dtypes

[('Emp ID', 'string'),
 ('Month Name of Joining', 'string'),
 ('Last Name', 'string'),
 ('Gender', 'string'),
 ('E Mail', 'string'),
 ('SSN', 'string'),
 ('County', 'string'),
 ('State', 'string'),
 ('Region', 'string'),
 ('City', 'string'),
 ('Zip', 'string'),
 ('Salary', 'string'),
 ('Salary Hike', 'string')]

### Casting 'string' value to 'int'

In [9]:
df = df.withColumn("Emp ID", df["Emp ID"].cast("int"))
df = df.withColumn("Zip", df["Zip"].cast("int"))
df = df.withColumn("Salary", df["Salary"].cast("int"))
df = df.withColumn("Salary Hike", df["Salary Hike"].cast("int"))
df.dtypes

[('Emp ID', 'int'),
 ('Month Name of Joining', 'string'),
 ('Last Name', 'string'),
 ('Gender', 'string'),
 ('E Mail', 'string'),
 ('SSN', 'string'),
 ('County', 'string'),
 ('State', 'string'),
 ('Region', 'string'),
 ('City', 'string'),
 ('Zip', 'int'),
 ('Salary', 'int'),
 ('Salary Hike', 'int')]

### Checking if the changes have been made successfully

In [10]:
df.show(20)

+------+---------------------+---------+------+--------------------+-----------+--------------------+-----+---------+-------------+-----+------+-----------+
|Emp ID|Month Name of Joining|Last Name|Gender|              E Mail|        SSN|              County|State|   Region|         City|  Zip|Salary|Salary Hike|
+------+---------------------+---------+------+--------------------+-----------+--------------------+-----+---------+-------------+-----+------+-----------+
|742048|              January|   Mccoll|     F|lizeth.mccoll@ibm...|171-86-6830|               Stark|   OH|  Midwest|     Alliance|44601|147446|         14|
|671135|                April|     Hern|     F|argentina.hern@nt...|083-02-3078|District of Columbia|   DC|    South|   Washington|20411|129174|          8|
|965851|             December|  Patillo|     M|damian.patillo@ou...|326-11-9852|              Fresno|   CA|     West|       Burrel|93607|158746|          8|
|224660|                 June| Hagopian|     F|imogene.hagopian@...|656-36-0772|              Brazos|   TX|    South|        Bryan|77806| 55761|         14|
|852694|             February|  Wallach|     M|walker.wallach@ao...|296-15-3535|              Vernon|   LA|    South|     Newllano|71461|197519|         24|
|144102|                March|   Hollie|     F|jesusita.hollie@h...|375-37-3861|         Los Angeles|   CA|     West|      Topanga|90290|103839|          6|
|687793|              October|  Esqueda|     M|fausto.esqueda@ao...|095-02-0857|          Tuscarawas|   OH|  Midwest|    Somerdale|44678| 60101|          5|
|636308|                 July|    Komar|     F| vanda.komar@aol.com|002-11-5408|              Summit|   OH|  Midwest|        Akron|44312|115639|         26|
|218660|             November|Nicholson|     F|destiny.nicholson...|386-37-5628|            Atlantic|   NJ|Northeast|Atlantic City| 8401|126048|         19|
|465691|              October|    Hamby|     F|evie.hamby@gmail.com|682-24-5946|              Morris|   NJ|Northeast|     Rockaway| 7866|193757|         28|
|242339|              October|Friedrich|     M|carlton.friedrich...|717-18-8892|            Hamilton|   OH|  Midwest|   Cincinnati|45202| 43826|         14|
|636949|                March|   Haynie|     M|carmelo.haynie@gm...|529-99-1135|          Livingston|   MI|  Midwest|       Howell|48844| 84036|          2|
|890565|                 June|   Troche|     F|bari.troche@hotma...|479-41-7839|            Sandoval|   NM|     West| Cochiti Lake|87083|182148|         30|
|206270|              October|    Lowry|     M|burton.lowry@comc...|618-87-1917|              Carbon|   PA|Northeast|    Palmerton|18071|181592|         26|
|418390|             December|  Bassham|     M|mickey.bassham@gm...|186-86-7205|             Oakland|   MI|  Midwest|   Lake Orion|48362|131922|         23|
|359884|                  May|  Cerrone|     F|ying.cerrone@aol.com|083-02-7174|              Murray|   MN|  Midwest|         Iona|56141|184946|          1|
|301840|             February|    Copas|     F|bette.copas@sbcgl...|124-98-3183|             Laramie|   WY|     West|    Hillsdale|82060|103833|         27|
|232212|                  May|   Harkey|     F| tien.harkey@cox.net|615-87-8886|              Fresno|   CA|     West|       Fresno|93782|103292|         10|
|450156|             November|  Chesney|     F|loma.chesney@yaho...|161-86-9824|              Mobile|   AL|    South|       Mobile|36602| 66545|          7|
|158031|             November|   Pastor|     M|ruben.pastor@gmai...|768-02-9782|             Ozaukee|   WI|  Midwest|    Cedarburg|53012| 41892|          1|
+------+---------------------+---------+------+--------------------+-----------+--------------------+-----+---------+-------------+-----+------+-----------+
only showing top 20 rows

### Checking the Schema

In [11]:
df.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Salary Hike: integer (nullable = true)

### Task 1: Count the number of employees in each County, Region and City

In [12]:
task11 = df.groupBy("County").agg(func.countDistinct("Emp ID").alias('No. of Employees Per County'))
task11.show(5)

+---------+---------------------------+
|   County|No. of Employees Per County|
+---------+---------------------------+
|Worcester|                      12921|
| Thurston|                       2868|
|    Tyler|                       1738|
|    Bucks|                       7659|
|  Palermo|                        155|
+---------+---------------------------+
only showing top 5 rows

In [13]:
task12 = df.groupBy("Region").agg(func.countDistinct("Emp ID").alias('No. of Employees Per Region'))
task12.show(5)

+---------+---------------------------+
|   Region|No. of Employees Per Region|
+---------+---------------------------+
|  Midwest|                     691814|
|    South|                     770939|
|     West|                     555368|
|Northeast|                     557073|
+---------+---------------------------+

In [14]:
task13 = df.groupBy("City").agg(func.countDistinct("Emp ID").alias('No. of Employees Per City'))
task13.show(5)

+-----------+-------------------------+
|       City|No. of Employees Per City|
+-----------+-------------------------+
|    Hanover|                     2311|
|      Tyler|                     1999|
|Piney Creek|                      110|
|   Bluffton|                      820|
| Prattville|                      487|
+-----------+-------------------------+
only showing top 5 rows

### Task 2: Generate employee summary

In [15]:
task2 = df.sort("Emp ID")
task2.show(5)

+------+---------------------+---------+------+--------------------+-----------+------+-----+-------+-----------+-----+------+-----------+
|Emp ID|Month Name of Joining|Last Name|Gender|              E Mail|        SSN|County|State| Region|       City|  Zip|Salary|Salary Hike|
+------+---------------------+---------+------+--------------------+-----------+------+-----+-------+-----------+-----+------+-----------+
|111111|                  May|   Isbell|     M|riley.isbell@gmai...|066-02-8823|Sabine|   LA|  South|    Florien|71429|115049|         26|
|111111|                  May|Witkowski|     F|danuta.witkowski@...|506-57-4157|   Bay|   FL|  South|Panama City|32403|142276|         11|
|111111|             February|  Ribeiro|     F|ursula.ribeiro@ao...|504-45-4194|Ottawa|   MI|Midwest| Ferrysburg|49409| 68056|         11|
|111111|                March|     Hock|     F|karolyn.hock@hotm...|295-15-1492|  Wise|   TX|  South|    Slidell|76267|146377|         25|
|111111|              October| Lamberth|     F|delois.lamberth@h...|193-86-6147|Martin|   NC|  South|Williamston|27892|146377|         25|
+------+---------------------+---------+------+--------------------+-----------+------+-----+-------+-----------+-----+------+-----------+
only showing top 5 rows

### Task 3: Generate employee summary and ordering by Gender and Salary

In [16]:
task3 = df.orderBy(["Gender", "Salary"])
task3.show(5)

+------+---------------------+-----------+------+--------------------+-----------+----------+-----+-------+------------+-----+------+-----------+
|Emp ID|Month Name of Joining|  Last Name|Gender|              E Mail|        SSN|    County|State| Region|        City|  Zip|Salary|Salary Hike|
+------+---------------------+-----------+------+--------------------+-----------+----------+-----+-------+------------+-----+------+-----------+
|571129|                March|    Nolting|     F|lakiesha.nolting@...|141-23-4908|   Larimer|   CO|   West|  Glen Haven|80532| 40000|         21|
|506893|                 June|Cumberbatch|     F|ariana.cumberbatc...|057-02-5798|Evangeline|   LA|  South|Saint Landry|71367| 40000|          4|
|631239|                  May|     Ellman|     F|tijuana.ellman@ho...|730-28-6351|      Hoke|   NC|  South|     Raeford|28376| 40000|         19|
|832197|              October|     Grosso|     F|vikki.grosso@hotm...|131-98-5564|   McHenry|   ND|Midwest|      Bantry|58713| 40000|         14|
|828071|             February|   Barrette|     F|madelaine.barrett...|545-99-1053|     Aiken|   SC|  South|       Aiken|29801| 40000|         26|
+------+---------------------+-----------+------+--------------------+-----------+----------+-----+-------+------------+-----+------+-----------+
only showing top 5 rows

### Task 4: Summerize the number of employee joined and hikes granted based on month

In [17]:
task41 = df.groupBy("Month Name of Joining").agg(func.countDistinct("Emp ID").alias('No. of Employees Joined in Particular Month'))
task41.show()

+---------------------+-------------------------------------------+
|Month Name of Joining|No. of Employees Joined in Particular Month|
+---------------------+-------------------------------------------+
|                 July|                                     351634|
|             November|                                     315549|
|             February|                                     309233|
|              January|                                     328953|
|                March|                                     335261|
|              October|                                     320530|
|                  May|                                     342019|
|               August|                                     361916|
|                April|                                     329291|
|                 June|                                     337582|
|             December|                                     325905|
|            September|                                     310627|
+---------------------+-------------------------------------------+

In [19]:
task42 = df.groupBy("Month Name of Joining").agg(func.countDistinct("Salary Hike").alias('No. of Hikes granted in Particular Month'))
task42.show()

+---------------------+----------------------------------------+
|Month Name of Joining|No. of Hikes granted in Particular Month|
+---------------------+----------------------------------------+
|                 July|                                      31|
|             November|                                      31|
|             February|                                      31|
|              January|                                      31|
|                March|                                      31|
|              October|                                      31|
|                  May|                                      31|
|               August|                                      31|
|                April|                                      31|
|                 June|                                      31|
|             December|                                      31|
|            September|                                      31|
+---------------------+----------------------------------------+

### Task 5: Generate employee summary and ordering by Salary

In [20]:
task5 = df.orderBy(["Salary"])
task5.show(5)

+------+---------------------+-----------+------+--------------------+-----------+----------+-----+---------+------------+-----+------+-----------+
|Emp ID|Month Name of Joining|  Last Name|Gender|              E Mail|        SSN|    County|State|   Region|        City|  Zip|Salary|Salary Hike|
+------+---------------------+-----------+------+--------------------+-----------+----------+-----+---------+------------+-----+------+-----------+
|828071|             February|   Barrette|     F|madelaine.barrett...|545-99-1053|     Aiken|   SC|    South|       Aiken|29801| 40000|         26|
|336973|                April|       Deem|     M| kirk.deem@gmail.com|623-85-7102|  Ouachita|   AR|    South|      Louann|71751| 40000|         28|
|832197|              October|     Grosso|     F|vikki.grosso@hotm...|131-98-5564|   McHenry|   ND|  Midwest|      Bantry|58713| 40000|         14|
|680938|             November|   Hillyard|     M|rosario.hillyard@...|307-37-6816|  Somerset|   PA|Northeast|   Tire Hill|15959| 40000|         30|
|506893|                 June|Cumberbatch|     F|ariana.cumberbatc...|057-02-5798|Evangeline|   LA|    South|Saint Landry|71367| 40000|          4|
+------+---------------------+-----------+------+--------------------+-----------+----------+-----+---------+------------+-----+------+-----------+
only showing top 5 rows

In [21]:
spark.stop()
print("SparkSession Stopped Successfully!")

SparkSession Stopped Successfully!